html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Стил за бутона "Сърце" */
.btn-f1-favorite {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #444;
    color: white;
    transition: 0.3s all ease;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn-f1-favorite:hover {
        background: #e10600; /* F1 червено */
        border-color: #e10600;
        color: white;
        transform: scale(1.1);
    }

.product-card:hover .btn-f1-favorite {
    opacity: 1;
}