@model int

<a class="pf-nav-mini-icon-link"
   asp-controller="Cart"
   asp-action="Index"
   title="Cart"
   aria-label="Cart">
    <span class="pf-nav-mini-icon-circle">
        <i class="bi bi-cart3"></i>
    </span>

    <span id="cart-count"
          class="pf-nav-count-badge"
          style="@(Model > 0 ? "" : "display: none;")">
        @Model
    </span>
</a>